*,
*::before,
*::after {
  box-sizing: border-box;
}

body, #carousel {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#carousel {
  width: 100%;
  height: 400px;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2666666667));
  justify-content: stretch;
  border-bottom: 1px solid #b7cedd;
}
#carousel button {
  margin: 0;
  width: 25%;
  height: 60px;
  margin: 0 auto;
  margin-top: auto;
  transform: translateY(30px);
  background: linear-gradient(to bottom, #3c91c5, #225b8b);
  border: 2px solid #060b12;
  border-radius: 10px;
  color: white;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2666666667));
  outline: 2px solid #AB8D42;
  font-family: "penumbra-serif-std";
  transition: linear 1s;
  cursor: pointer;
}
#carousel button:hover {
  background-color: #77C6F0;
}
#carousel button span {
  font-size: 2em;
  letter-spacing: 0;
}
#carousel button span::before {
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}
#carousel img {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
  filter: blur(1px);
  height: 400px;
}

img {
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2666666667));
}

h1, h3, span, h2 {
  color: white;
  font-family: "penumbra-serif-std";
  font-weight: bolder !important;
  text-align: center;
  background: linear-gradient(rgb(245, 251, 255), rgb(191, 230, 255));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 5em;
  letter-spacing: 1px;
  padding: 0;
  filter: drop-shadow(0px 0px 10px #000000);
  line-height: 58px;
}

h3 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  filter: drop-shadow(0px 0px 10px #000000);
}

h2 {
  background: linear-gradient(#ffe98d, #e19f27);
  -webkit-background-clip: text;
          background-clip: text;
  text-transform: uppercase;
  font-size: 2em;
  padding-left: 10px;
}

p {
  color: #b7cedd;
  line-height: 1.6em;
  margin-bottom: 1.3rem;
  font-size: 16px !important;
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  background-color: #0d1421;
  overflow-x: hidden;
  max-width: 100%;
}

main {
  overflow-x: hidden;
  margin: 200px 20% 0 20%;
}

.row, .row2 {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
}
.row div, .row2 div {
  padding-right: 120px;
}
.row div *, .row2 div * {
  text-align: left;
}
.row img, .row2 img {
  max-width: 50%;
  cursor: pointer;
  z-index: 1000;
  transition: 0.5s linear;
}

.row2 div {
  padding-left: 120px;
  padding-right: 0;
}
.row2 div * {
  text-align: right;
}

footer {
  padding: 2em;
  background-color: #10161e;
  border-top: 1px solid #2c2b22;
}
footer p {
  text-align: center;
}

sub {
  font-size: 20px;
  vertical-align: baseline;
}

.card {
  -webkit-animation: card 24s infinite;
          animation: card 24s infinite;
}

@-webkit-keyframes card {
  0% {
    transform: translateX(0);
  }
  16% {
    transform: translateX(0);
  }
  28% {
    transform: translateX(-100vw);
  }
  40% {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(-200vw);
  }
  62% {
    transform: translateX(-200vw);
  }
  75% {
    transform: translateX(-300vw);
  }
  86% {
    transform: translateX(-300vw);
  }
  100% {
    transform: translateX(-400vw);
  }
}

@keyframes card {
  0% {
    transform: translateX(0);
  }
  16% {
    transform: translateX(0);
  }
  28% {
    transform: translateX(-100vw);
  }
  40% {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(-200vw);
  }
  62% {
    transform: translateX(-200vw);
  }
  75% {
    transform: translateX(-300vw);
  }
  86% {
    transform: translateX(-300vw);
  }
  100% {
    transform: translateX(-400vw);
  }
}
.c2 {
  left: 100vw;
}

.c3 {
  left: 200vw;
}

.c4 {
  left: 300vw;
}

.c5 {
  left: 400vw;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

@media (max-width: 1300px) {
  main {
    margin: 0;
    padding-top: 150px;
  }
  .row, .row2 {
    overflow: hidden;
    justify-content: center;
  }
  .row div, .row2 div {
    width: 30%;
  }
  .row img, .row2 img {
    width: 30%;
    margin: 0;
  }
}
#topLayer {
  transition: 0.1s linear;
  display: none;
  position: fixed;
  top: 0;
  z-index: 3000;
  padding-top: 20vh;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
#topLayer img {
  width: 100%;
  padding: 0 25%;
}
#topLayer p {
  margin: 0 auto;
  text-align: center;
  opacity: 0.6;
}/*# sourceMappingURL=style.css.map */